# Ignore build directory
build/

# Ignore devcontainer and vscode configurations
.devcontainer/
.vscode/

# Ignore all files with .old and .o extensions
*.old
*.o

# Ignore everything else
/*

# But not these files...
!.gitignore

# Allow the main directory and its contents
!components/
!components/**
!main/
!main/**

# Allow CMakeLists.txt, README.md and file png at the root
!CMakeLists.txt
!README.md
!*.png